.center {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

.red-line {
    text-indent: 30px;
}

.page {
    background: #181818;
    display: flex;
}

.sidebar {
    display: flex;
    background: #202020;
    position: relative;
    width: 300px;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.sidebar__background {
    background-image: url("../img/index/sidebar__background.jpg");
    width: 300px;
    height: 180px;
}

.sidebar__my-photo {
    position: absolute;
    top: 130px;
    left: 100px;
    right: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.sidebar__profile {
    margin-top: 69px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
}

.sidebar__profile h1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.sidebar__profile p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #DEDEDE;
}

.sidebar__social {
    margin: 17px 0 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.sidebar__about-me {
    padding: 30px 0;
    width: 265px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    border-bottom: 1px solid #1C1C1C;
    border-top: 1px solid #1C1C1C;
}

.sidebar__batton {
    display: flex;
    justify-content: space-between;
}

.sidebar__batton__my-works {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    background: #ED3024;
    box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
    border-radius: 25px;
    padding: 13px 25px;
}

.sidebar__batton__my-works:hover {
    background-color: #c4241a;
}

.sidebar__batton__write-to-me {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    background: #3137C9;
    box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
    border-radius: 25px;
    padding: 13px 25px;
}

.sidebar__batton__write-to-me:hover {
    background-color: #232894;
}



.conteiner {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    height: 40px;
    display: flex;
    align-items: center;
}

.menu {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu ul {
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.menu li {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    list-style: none;
}

.menu li:hover {
    background: #3137C9;
}

.main {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
}

.section-conteiner {
width: 100%;
    max-width: 600px;
    background: #202020;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    color: #D2D2D2;
    padding: 26px;
}

.section h2 {
    color: #FFFFFF;
}